.about{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  .about-content{
    h1{
      font-family: cursive;
      font-weight: bolder;
      color: wheat;
    }
    p{
      font-size: 18px;
      font-family: 'Times New Roman', Times, serif;
    }


  }
}